/* main heading */
.maincontainer {
  border-style: solid;
}

.heading {
  border-style: double;
  width: 98.6vw;
}

.header {
  display: flex;
  height: 10vh;
  width: 98.6vw;
  background: #e1eff6;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #df2935;
  font-size: 35px;
}

.navbar {
  display: flex;
  height: 5vh;
  width: 98.6vw;
  background: #e1eff6;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* login page */
.form {
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 98.6vw;
  background: #e1eff6;
  align-items: center;
  color: #587291;
  font-family: "Gill Sans", sans-serif;
  border: double;
}

/* profile page */
.profile {
  display: flex;
  height: 82vh;
  width: 98.6vw;
  background: #e1eff6;
  flex-direction: column;
  align-items: center;
  border: double;
  color: #587291;
  font-family: "Gill Sans", sans-serif;
}

/* rowcontainer */
.allmovies {
  display: flex;
  flex-direction: column;
  width: 98.6vw;
  background: #e1eff6;
  border: double;
}

.picture {
  height: 38.5vh;
  width: 13vw;
  padding: 7px;
}

/* genre row */
.genre {
  display: flex;
  flex-direction: column;
}

.genredisplay {
  display: flex;
  font-weight: 400px;
  font-size: 28px;
  font-style: normal;
  color: #587291;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  padding: 0px;
}

.moviedisplay {
  display: flex;
  flex-direction: row;
  width: 98.6vw;
  padding: 80px;
  height: 40vh;
  padding: 0px;
  margin-left: 100px;
}

.button {
  display: flex;
  height: 40vh;
  width: 3vw;
  background-color: #587291;
  color: #f2fdff;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}

/* moviecard */
.movieCard {
  position: relative;
  text-align: center;
  color: white;
  transition: transform 0.2s;
}

.movieCard:hover {
  z-index: 2;
  transform: scale(1.2);
}

.movieCard .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.movieCard img {
  display: block;
  position: relative;
}

.movieCard:hover .overlay {
  visibility: visible;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* movie view page */
.movieview {
  background: #e1eff6;
  display: flex;
  flex-direction: column;
  width: 97.8vw;
  height: 10vh;
  padding: 10px;
}

.moviesections {
  background: #e1eff6;
  display: flex;
  flex-direction: row;
  width: 97.8vw;
  padding: 10px;
}

.movieTitle {
  display: flex;
  justify-content: center;
  font-weight: 400px;
  font-size: 70px;
  font-style: normal;
  color: #140d4f;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  margin-bottom: 0em;
}

.returnButton {
  display: flex;
  width: 20vw;
  background-color: #587291;
  color: #f2fdff;
  justify-content: center;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}

/* movie player */
.player {
  display: flex;
  flex-direction: row;
  height: 65vh;
  width: 50vw;
  border: solid;
  padding: 5px;
}

/* movie info  */
.movieInfo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 18px;
  font-weight: normal;
  width: 50vw;
  height: 65vh;
  overflow: scroll;
  color: #140d4f;
  font-family: "Gill Sans", sans-serif;
}

.viewpagepicture {
  height: 200px;
  width: 140px;
}
