.picture {
  height: auto;
  width: 100%;
}
.allmovies {
  display: flex;
  flex-direction: column;
}
.genre {
  display: flex;
}

.movieCard {
  position: relative;
  text-align: center;
  color: white;
  transition: transform 0.2s;
}
.movieCard:hover {
  z-index: 2;
  transform: scale(1.2);
}
.movieCard .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.movieCard img {
  display: block;
  position: relative;
}
.movieCard:hover .overlay {
  visibility: visible;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.viewpagepicture {
  height: 200px;
  width: 140px;
}
.player{
  display: flex;
}
.movieInfo{
  display: flex;
  flex-direction: column; 
}


.heading{
  display: flex;
  height: 15vh;
  width: 95vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {
  
}
.movieView{

}
.movieSections{
  display: flex;
  flex-direction: row;
}