/* main heading */
.maincontainer {
  border-style: solid;
  height: 97.4vh;
  width: 99vw;
}

.heading {
  border-style: double;
  border-color: #8797b2;
  width: 98.6vw;
}

.header {
  display: flex;
  height: 15vh;
  width: 98.8vw;
  background: #01233f;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  width: 300px;
  height: 120px;
}

.navbar {
  display: flex;
  height: 5vh;
  width: 98.8vw;
  background: #01233f;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* registration page */
.registrationform {
  display: flex;
  flex-direction: column;
  height: 76.2vh;
  width: 98.8vw;
  background: #01233f;
  align-items: center;
  color: #8797b2;
  font-family: "Gill Sans", sans-serif;
  border: double;
  border-color: black
}

.registrationform h1 {
  color: #d7fff1;
}

/* login page */
.form {
  display: flex;
  flex-direction: column;
  height: 76.2vh;
  width: 98.8vw;
  background: #01233f;
  align-items: center;
  color: #8797b2;
  font-family: "Gill Sans", sans-serif;
  border: double;
  border-color: black
}

.form h1 {
  color: #d7fff1
}

/* signed in page */
.signedin {
  display: flex;
  flex-direction: column;
  height: 76.2vh;
  width: 98.8vw;
  background: #01233f;
  align-items: center;
  color: #ef6f6c;
  font-family: "Gill Sans", sans-serif;
  border: double;
  border-color: black
}

.signedin h1 {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background: #01233f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* profile page */
.profile {
  display: flex;
  height: 76.2vh;
  width: 98.8vw;
  background: #01233f;
  flex-direction: column;
  align-items: center;
  border: double;
  color: #d7fff1;
  font-family: "Gill Sans", sans-serif;
  border-color: black
}

.profile h1 {
  font-size: 35px;
}

.profile h4 {
  color: #ef6f6c;
  font-size: 20px;
  margin-bottom: 0px;
}

.profile p {
  color: #66ced6;
  color: d7fff1;
  font-size: 18px
}

/* mainpage */
.mainpage{
  display: flex;
  height: 81vh;
  width: 98.8vw;
  background: #01233f;
  flex-direction: column;
  align-items: center;
  color: #8797b2;
  font-family: "Gill Sans", sans-serif;
}

.mainpagetext{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background: #01233f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainpagetext h1 {
  font-size: 50px;
}

.mainpagetext h4 {
  font-size: 25px;
}

/* rowcontainer */
.allmovies {
  display: flex;
  flex-direction: column;
  width: 98.8vw;
  height: 76.2vh;
  background: #01233f;
  border: double;
  overflow-x: hidden;
  overflow-y: scroll;
}

.picture {
  height: 38.5vh;
  width: 12vw;
  padding: 7px;
}

/* genre row */
.genre {
  display: flex;
  flex-direction: column;
}

.genredisplay {
  display: flex;
  font-weight: 400px;
  font-size: 28px;
  font-style: normal;
  color: #dd0426;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  padding: 0px;
}

.moviedisplay {
  display: flex;
  flex-direction: row;
  width: 98.6vw;
  padding: 0px;
  height: 40vh;
  margin-left: 35px;
}

.button {
  display: flex;
  height: 40vh;
  width: 3vw;
  background-color: #8797b2;
  color: #f2fdff;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}

/* moviecard */
.movieCard {
  position: relative;
  text-align: center;
  color: white;
  transition: transform 0.2s;
}

.movieCard:hover {
  z-index: 2;
  transform: scale(1.2);
}

.movieCard .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.movieCard img {
  display: block;
  position: relative;
}

.movieCard:hover .overlay {
  visibility: visible;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* movie view page */
.movieview {
  background: #01233f;
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 10vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.moviesections {
  background: #01233f;
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 62.5vh;
  padding: 10px;
}

.movieTitle {
  display: flex;
  justify-content: center;
  font-weight: 400px;
  font-size: 50px;
  font-style: normal;
  color: #d7fff1;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  margin-top: 0em;
  margin-bottom: 0em;
}

.movieTitle h1 {
  margin-bottom: 0;
}

/* movie player */
.player {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 50vw;
  border: solid;
  padding: 5px;
}

/* movie info  */
.movieinfo {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 18px;
  font-weight: normal;
  width: 48vw;
  height: 60vh;
  overflow-y: scroll;
  color: #66ced6;
}

.viewpagepicture {
  height: 280px;
  width: 190px;
}

.moviedetails {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  overflow-y: scroll;
}

.moviedetails h4 {
  color: #ef6f6c;
  margin-bottom: 0;
  margin-top: 0;
}

.moviedetail p {
  margin-bottom: 0;
  margin-top: 0;
}
